@use '../base/base--variables' as *;

#header {
  padding: 30px 0;
}

@keyframes logo-gradient {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-logo-gradient {
  animation: logo-gradient 1.2s ease-in-out infinite;
}